@{
    //Layout = null;
    ViewData["Title"] = "Home Page";
}

<body>
  <div class="img-fluid">
    <img src="~/img/cbwellls/Animated DragonFly Bugtracker  (1920 × 1080 px) (1).gif" />
  </div>
    @*<h1>Get the job done</h1>*@
</body>